<!doctype html>
<html>
  <head>
  	<title>Anuglar Introduction</title>

    <!-- Library Imports -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>

    <!-- Local Imports -->
    <script src="app.js"></script>

  </head>

  <!-- Introduction App -->
  <body ng-app="angularIntroduction">

    <!-- Introduction Controller -->
    <div ng-controller="FruitController">
      <h1>{{message}}</h1>

      <label>Query:</label>
      <input type="text" ng-model="query" placeholder="Search Here">

      <ul>
        <li ng-repeat="fruit in fruits | filter : query">{{fruit.name}} ({{fruit.color}})</li>
      </ul>

    </div>

  </body>
</html>